@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    background-color: aliceblue;
    margin: 0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    height: 10vh;
    padding: 0;
    margin: 0;
    z-index: 100;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

nav li {
    flex: auto;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
}

nav a:hover {
    font-weight: 700;
}

footer {
    background-color: #000000;
    margin-top: 2em;
    z-index: 100;
}

footer p {
    padding: 0.6em;
    font-size: 0.6em;
    color: #fff;
    margin-block: 0;
    text-align: right;
}

.big-intro {
    font-size: 2em;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
    color: #000000;
}

.big-intro p {
    margin-left: 10vw;
    margin-right: 10vw;
}

.big-intro div {
    padding-top: .5em;
    padding-bottom: .5em;
}

.big-intro div:hover {
    transform: scale(1.2);
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
}

.vital {
    color: #0A6AB0;
    font-weight: bold;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait {
    max-width: 50vw;
    border-radius: 10000px;
    margin-top: 2em;
}

.portrait:hover {
    transform: scale(1);
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 10px 10px 16px 4px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
}

.design-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
    justify-content: center;
}

.design-box {
    width: 80vw;
    padding: 1.5em;
}

.design-box:hover {
    transform: scale(1.05);
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
}

.design-box h1 {
    margin-top: 0;
}

.design-box img {
    max-width: 80vw;
}